.todo__container {
  margin: 0 auto;
  max-width: 720px;
}
.todo__button {
  padding: .65rem;
  border: none;
  color: white;
  background: inherit;
  outline: none;
  cursor: pointer;
  font-size: .7rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.todo__button.active,
.todo__button:hover {
  background: #002244;
}